/* Fuentes */
.wpthemeControl{
	margin: 0 0 0;
}
@font-face {
	font-family: OpenSans;
	src: url('/wcm/connect/f478e147-4208-471e-ae8b-57db4ff29e00/OpenSans-Regular.ttf?MOD=AJPERES');
}

.nunito{
	font-family: 'Nunito';
}
.opensans{
	font-family: 'OpenSans', sans-serif;
}

/* Tamaño de titulos, subtitulos */

.font40{
	font-size: 40px;
}
.font32{
	font-size: 32px;
}
.font28{
	font-size: 28px;
}
.font24{
	font-size: 24px;
}
.font18{
	font-size: 18px;
}
.font16{
	font-size: 16px;
}
.font15{
	font-size: 15px;
}
.font14{
	font-size: 14px;
}

/* gruso de la letra */
.weight-800{
	font-weight: 800;
}
.weight-700{
	font-weight: 700;
}
.weight-600{
	font-weight: 600;
}
.weight-400{
	font-weight: 400;
}

/* Colores generales */

.text-black{
	color: #292929;
}
.text-gray{
	color: #808285;
}
.text-blue{
	color: #00448D;
}
.text-center{
	text-align: center;
}


/* margenes */

.mt-46{
	margin-top: 46px;
}
.mt-26{
	margin-top: 26px;
}
.mt-16{
	margin-top: 16px;
}
.mb-46{
	margin-bottom: 46px;
}
.mb-26{
	margin-bottom: 26px;
}
.mb-16{
	margin-bottom: 16px;
}
.mb-10{
	margin-bottom: 10px;
}

.ml-auto{
	margin-left: auto;
}

.p-50{
	padding: 10px 50px;
}

.p-30{
	padding: 10px 30px;
}

.border-bottom{
	border-bottom: 2px solid #E6E7E8;
}

.collapse-close{
	position: relative;
	cursor: pointer;
	min-height: 70px;
	display: flex;
	align-items: center;
}

.collapsing{
	position: relative;
	overflow: hidden;
	height: 0;
	transition: height .3s ease;
}

.collapse-close:after{
	content: url(/wcm/connect/1eddb8bb-c885-4add-8bd2-60f607fb9675/Arrow_down.png?MOD=AJPERES);
	position: absolute;
	right: 20px;
	margin: auto;
	top: 20px;
	transition: all 0.5s ease;
}
.collapse-close[aria-expanded="true"]:after{
	transform: rotate(180deg);
}

.collapse.show{
	visibility: visible;
}

.card-body{
	font-size: 14px;
	font-family: OpenSans;
}

/* Titulos */
h1, h2, h3{
	letter-spacing: -0.006em;
	line-height: 40px;
	margin: 0px auto;
}

p{
	margin-top: 0px;
}
/* imgagenes */

img{
	width: auto;
}
.img-fluid{
	max-width: 100%;
}
.mx-auto{
	display: block;
	margin: 0 auto;
}


/* Componentes */
.enlaces {
	display: inline-grid;
	position: relative;
}
.enlaces a{
	color: #00448D;
	text-decoration: none;
}
a.enlaces{
	padding: 10px;
	text-transform: uppercase;
}
a.enlaces:after{
	content: url(/wcm/connect/447909d7-d2a1-476b-aad0-2cd668f0ec2d/Vector.png?MOD=AJPERES);
	position: absolute;
	right: -20px;
	top: 11px;
	bottom: 0;
	transition: all 0.5s ease;
}

a:hover{
	text-decoration: none;
}

.bg-gray-light{
	background-color: #F7F7F7;
}

.btn-yellow{
	background: #FFD200;
}

.btn{
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16), 0px 1px 3px rgba(0, 0, 0, 0.100515);
	border-radius: 100px;
	display: inline-flex;
	text-transform: uppercase;
}

.w-9{
	max-width: 464px;
}


#tabs__title.nav-tabs {
    background-color: #F7F7F7;
}

.tabs__subtitle.nav-tabs {
    padding: 0px;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.border-radius20{
    border-radius: 30px;
}

#tabs__title.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav > li > a:hover, .nav > li > a:focus{
	background-color: transparent;
}

.nav-tabs > li > a:hover{
	border-color: transparent;
}

.nav {
    list-style: none;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

#tabs__title.nav-tabs .nav-item.show .nav-link, #tabs__title.nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-radius: 30px;
	border: 1px solid #FFCF01;
	font-family: "Open Sans";
	font-weight: 600;
}

#tabs__title .nav-link {
    padding: .5rem 1rem;
    width: 172px;
    color: #000;
	text-align: center;
	height: 48px;
	text-transform: uppercase;
	display: flex !important;
	justify-content: center;
	flex-direction: column;
}

#movilidad .tabs__subtitle.nav-tabs .nav-item.show .nav-link, #movilidad .tabs__subtitle.nav-tabs .nav-link.active {
	color: #495057;
	background-color: #F7F7F7;
	border-left: 3px solid #FFCF01;
	font-family: "Open Sans";
	font-size: 16px;
	border-radius: 0px;
	font-weight: 600;
}

#inmobiliario .tabs__subtitle.nav-tabs .nav-item.show .nav-link, #inmobiliario .tabs__subtitle.nav-tabs .nav-link.active {
	color: #495057;
	background-color: #F7F7F7;
	border-right: 3px solid #FFCF01;
	font-family: "Open Sans";
	font-size: 16px;
	border-radius: 0px;
	font-weight: 600;
}

.nav-tabs .nav-link {
	border: 1px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}


.tabs__subtitle .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #000;
	display: flex !important;
	justify-content: center;
	flex-direction: column;
	border-top: 1px solid #D1D3D4;
	border-bottom: 1px solid #D1D3D4;
	height: 50px;
}

.tab-content > .tab-pane {
    display: none;
    margin-top: 20px;
}

.tab-content > .active {
    display: block;
}

.fade.show {
    opacity: 1;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

#myTabContenido{
	padding: 50px;
}

a, a:visited, a:focus, a:active{
	text-decoration: none;
}

#inmobiliario,
#movilidad{
	position: relative;
}

#inmobiliario{
	text-align: right;
}

#inmobiliario::before,
#movilidad::after {
    content: "";
    top: 0;
    bottom: 0;
    position: absolute;
    background: #f7f7f7;
    width: 50%;
    right: 0;
    height: 100%;
    z-index: 0;
}

#inmobiliario::before{
	right: auto;
	left: 0;
}

[type="reset"], [type="submit"], button, html [type="button"] {
    -webkit-appearance: button;
}

button, input {
    overflow: visible;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.box-shadow{
	box-shadow: 0px 4px 8px rgba(41, 41, 41, 0.16);
}